/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#container {
  position: relative;
  width: 1016px;
  /* height: 932px; */
  /* overflow: hidden; */
}

.nav_button {
  cursor: pointer;
}

.ex_mask {
  position: absolute;
  padding-top: 25px;
  left: 0px;
  top: 4px;
  width: 1016px;
  padding-bottom: 50px;
  min-height: 1115px;
  background-color: #202020;
  display: none;
}

.favorite_content {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin-top: 20px;
}

.favorite_content .item {
  flex: 0 0 33%;
  margin-bottom: 20px;
  overflow: hidden;
}

.favorite_content .thumb {
  float: left;
  width: 120px;
  margin-left: 10px;
}

.favorite_content .thumb img{
  width: 100%;
}

.favorite_content .info {
  padding-left: 140px;
}

.favorite_content .title {
  font-weight: 400;
  color: #d0e0f0;
  line-height: 24px;
  font-size: 18px;
  padding: 0 10px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 8px 0;
}

.favorite_content .title a {
  text-decoration: none;
}

.favorite_content .title a:hover {
  text-decoration: underline;
}

.favorite_content .des {
  display: -webkit-box;
  font-weight: 400;
  color: #e0e0e0;
  line-height: 20px;
  max-height: 40px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 8px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.favorite_content .type {
  height: 14px;
  font-size: 12px;
  color: #888888;
  line-height: 14px;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.favorite_content .state {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #888888;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.favorite_btn {
  float: right;
  color: #60b8cc !important;
  font-size: 15px !important;
  text-decoration: none;
  text-align: center;
  height: 24px;
  width: auto;
  padding: 0 10px;
  line-height: 24px;
  border: 1px solid #404041;
  overflow: hidden;
  cursor: pointer;
}

.favorite_btn:hover {
  background: #757175;
  color: #FFF;
}

.history_content .item {
  clear: both;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 10px;
}

.history_content .title a {
  text-decoration: none;
}

.history_content .title a:hover {
  text-decoration: underline;
}

.history_content .thumb {
  float: left;
  width: 120px;
}

.history_content .thumb img {
  width: 100%;
}

.history_content .info {
  padding-left: 130px;
}

.history_content .title {
  font-weight: 400;
  color: #d0e0f0;
  line-height: 24px;
  font-size: 18px;
  padding: 0 10px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 8px 0;
}

.history_content .state {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #888888;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.exTips {
  position: absolute;
  top: 0;
  left: 0;
  color: #f54545;
  font-size: 12px;
  padding: 10px;
  z-index: 99;
}

.loginOut {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  z-index: 99;
}
.loginOut .out {
  cursor: pointer;
}
.baseForm {
  margin-left: 240px;
  margin-top: 30px;
}

.empty {
  margin-left: 400px;
  margin-top: 50px;
}

.chat_content2 img {
  max-width: 350px !important;
  margin-right: 15px;
}
.chat_content2 p {
  white-space: pre-wrap;
  word-wrap: break-word; 
  overflow:hidden;
  color: #b8b8e0;
  font-size: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.newTopic {
  text-align: center;
}
.leastComments {
  margin-top: 40px;
  padding-right: 20px;
}
.leastComments .mate {
  color: #888899;
  font-size: 20px;
}
.leastComments .item {
  margin-top: 15px;
  border-bottom: 1px dashed #444;
  padding-bottom: 10px;
}
.leastComments .title {
  font-size: 14px;
  cursor: pointer;
  color: rgb(136, 136, 153);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.leastComments .title:hover {
  text-decoration: underline;
}
.leastComments .comment {
  color: #ccc;
  margin-top: 10px;
}
.leastComments .info {
  margin-top: 6px;
}
.rightSide .links {
  margin-top: 15px;
  margin-right: 20px;
}
.rightSide .github {
  float: right; 
}
.articleDetail {
  display: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}