#container {
  position: relative;
  width: 1016px;
  /* height: 932px; */
  /* overflow: hidden; */
}

.nav_button {
  cursor: pointer;
}

.ex_mask {
  position: absolute;
  padding-top: 25px;
  left: 0px;
  top: 4px;
  width: 1016px;
  padding-bottom: 50px;
  min-height: 1115px;
  background-color: #202020;
  display: none;
}

.favorite_content {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin-top: 20px;
}

.favorite_content .item {
  flex: 0 0 33%;
  margin-bottom: 20px;
  overflow: hidden;
}

.favorite_content .thumb {
  float: left;
  width: 120px;
  margin-left: 10px;
}

.favorite_content .thumb img{
  width: 100%;
}

.favorite_content .info {
  padding-left: 140px;
}

.favorite_content .title {
  font-weight: 400;
  color: #d0e0f0;
  line-height: 24px;
  font-size: 18px;
  padding: 0 10px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 8px 0;
}

.favorite_content .title a {
  text-decoration: none;
}

.favorite_content .title a:hover {
  text-decoration: underline;
}

.favorite_content .des {
  display: -webkit-box;
  font-weight: 400;
  color: #e0e0e0;
  line-height: 20px;
  max-height: 40px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 8px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.favorite_content .type {
  height: 14px;
  font-size: 12px;
  color: #888888;
  line-height: 14px;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.favorite_content .state {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #888888;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.favorite_btn {
  float: right;
  color: #60b8cc;
  text-decoration: none;
  text-align: center;
  height: 24px;
  width: auto;
  padding: 0 10px;
  line-height: 24px;
  border: 1px solid #404041;
  overflow: hidden;
  cursor: pointer;
}

.favorite_btn:hover {
  background: #757175;
  color: #FFF;
}

.history_content .item {
  clear: both;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 10px;
}

.history_content .title a {
  text-decoration: none;
}

.history_content .title a:hover {
  text-decoration: underline;
}

.history_content .thumb {
  float: left;
  width: 120px;
}

.history_content .thumb img {
  width: 100%;
}

.history_content .info {
  padding-left: 130px;
}

.history_content .title {
  font-weight: 400;
  color: #d0e0f0;
  line-height: 24px;
  font-size: 18px;
  padding: 0 10px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 8px 0;
}

.history_content .state {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #888888;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.exTips {
  position: absolute;
  top: 0;
  left: 0;
  color: #f54545;
  font-size: 12px;
  padding: 10px;
  z-index: 99;
}

.loginOut {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  z-index: 99;
  cursor: pointer;
}

.baseForm {
  margin-left: 240px;
  margin-top: 30px;
}

.empty {
  margin-left: 400px;
  margin-top: 50px;
}